/* Useful variables
--------------------------------------------------------*/
@mobile: ~"only screen and (max-width: 480px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width:1024px)";

@landscape: ~"and (orientation: landscape)";
@portrait: ~"and (orientation: portrait)";

// Specific devices
@iphone5: ~"only screen and (min-device-width: 320px) and (max-device-width: 568px)";
@iphone4: ~"only screen and (min-device-width: 320px) and (max-device-width: 480px)";

/* Shapes and sizing
--------------------------------------------------------*/
@default-bg: #000;

.size(@width, @height:@width) {
  height:@height;
  width:@width;
}

.circle(@size, @bg:@default-bg) {
  .size(@size);
  .border-radius(@size);
  background:@bg;
}

.oval(@size, @bg:@default-bg) {
  @half: @size / 2;
  .size(@size, @half);
  .border-radius("@{size} / @{half}");
  background:@bg;
}

.square(@size, @bg:@default-bg) {
  .size(@size);
  background:@bg;
}

/**
 * Remove apperance of form elements
 * @prop {value} - Property value
 */
.appearance(@prop: none) {
  .prefix(appearance, @prop);
}

/**
 * Add a border radius to element
 * @radius {px} - Border radius
 */
.border-radius(@radius: 3px) {
  .prefix(border-radius, "@{radius}");
}

/**
 * Adds a shadow to element (if shadow is inner use "inner-shadow")
 * @shadow {string} - Shadow string
 */
.box-shadow(@shadow) {
  .prefix(box-shadow, @shadow);
}

/**
 * Set box model of element
 * @type {string} - Box model type
 */
.box-sizing(@type: border-box) {
  .prefix(box-sizing, @type);
}

/**
 * Position content
 * @x {px,%} - x-positioning (-50% to center if target element is positioned left:50%)
 * @y {px,%} - y-positioning (-50% to center if target element is positioned top:50%)
 */
.centered(@x,@y) {
  .prefix(transform, "translateX(@{x}) translateY(@{y})");
}

.center(@coord, @x:0) when (@coord = x) {
  .centered(-50%,0);
  .position(top, left, @x, 50%);
}

.center(@coord, @y:0) when (@coord = y) {
  .centered(0,-50%);
  .position(top, left, 50%, @y);
}

.center(@coord) when (@coord = both) {
  .centered(-50%,-50%);
  .position(top, left, 50%, 50%);
}

/**
 * Column layout
 * @columns {int} - Number of columns
 * @gap {px} - Gutter gap between columns
 */
.columns(@columns:2, @gap: 20px) {
  .prefix(column-count, @columns);
  .prefix(column-gap, @gap);
}

/**
 * Sets font-size in rem and px-fallback for IE8
 * @size {px} - Pixel size
 * @style {string} - Font style
 */
.font-size(@size, @style:normal) {
  @clean-size:unit(@size);
  @rem: (@clean-size / 10);
  
  font-size: ~"@{clean-size}px";
  font-size: ~"@{rem}rem";
  font-style: @style;
}

/**
 * Gives element an inner shadow
 * @shadow {string} - Shadow string
 */
.inner-shadow(@shadow: "1px 1px 0px rgba(0,0,0,1)") {
  .prefix(box-shadow, "inset @{shadow}");
}

/**
 * Makes element transparent
 * @opacity {int} - Opacity in percentage
 */
.opacity(@opacity) {
  opacity: @opacity/100;
  filter:~"alpha(opacity=@{opacity})";
}

/**
 * Add all browser prefixes
 * @property {string} - What type of property
 * @value {string, value} - Arguments 
 */
.prefix(@property, @value) {
  -:~";-webkit-@{property}: @{value}; -moz-@{property}: @{value}; -ms-@{property}: @{value}; -o-@{property}: @{value}; @{property}: @{value}";
}

/**
 * Positioning helpers
 * @direction1 {string} - Point to position element from
 * @direction2 {string} - Point to position element from
 * @position1 {px} - Amount to move from direction1
 * @position2 {px} - Amount to move from direction2
 * @positioning {string} - Set positioning type
 * @full {boolean} - Cover full width
 */
.position(@direction1, @direction2, @position1:0, @position2:0, @positioning: absolute, @full:false) when (@full = false) {
  @{direction1}: @position1;
  @{direction2}: @position2;
  position: @positioning;
}

.position(@direction1, @direction2, @position1:0, @position2:0, @positioning: absolute, @full:false) when (@full = true) {
  .size(100%);

  @{direction1}: @position1;
  @{direction2}: @position2;
  position: @positioning;
}
/**
 * Rotate element
 * @angle {deg} - Angle in degrees
 */
.rotate(@angle) {
  @a:unit(@angle);
  .prefix("transform", "rotate(@{a}deg)");
}

/**
 * Adds text overflow properties CSS
 */
.text-overflow() {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

/**
 * Transform
 * @transform {string} - Transform string
 */
.transform(@transform) {
  .prefix("transform", "@{transform}");
}

/**
 * Adds transitions
 * @type {string} - All or specific selector to transition
 * @time {s} - Time of transition
 * @animate {string} - Type of animation
 */
.transition(@type: all, @time: 300ms, @animate: ease) {
  .prefix("transition", @type @time @animate);
}

/**
 * Make triangles
 * @direction {string} - Pointing direction (switches directions for it to point the right way)
 * @size {px} - Size of triangle 
 * @color {hex, rgb} - Color of triangle
 */
.triangle-base() {
  content:"";
  display:inline-block;
  height:0;
  width:0;
}

.triangle(@direction, @size, @color:@default-bg) when (@direction = up), (@direction = down), (@direction = 'up'), (@direction = 'down') {
  @string: replace(~"@{direction}", "'","","g");
  @dir: ~`('@{string}' === 'up') ? 'bottom':'top'`;

  .triangle-base();
  
  border-right: @size solid transparent;
  border-@{dir}: @size solid @color;
  border-left: @size solid transparent;
}

.triangle(@direction, @size, @color:@default-bg) when (@direction = right), (@direction = left), (@direction = 'right'), (@direction = 'left') {
  @string: replace(~"@{direction}", "'","","g");
  @dir: ~`('@{string}' === 'left') ? 'right':'left'`;
  
  .triangle-base();

  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-@{dir}: @size solid @color;
}

/**
 * Corner triangles
 * @direction1 {string} - Direction top or bottom
 * @direction2 {string} - Direction right or left (switches input left to right for arrow to actually point left)
 * @size {px} - Size of triangle
 * @color {hex, rgb} - Color of triangle
 */
.triangle-corner(@direction1, @direction2, @size, @color:@default-bg) {
  @string1: replace(~"@{direction1}", "'","","g");
  @string: replace(~"@{direction2}", "'","","g");
  @dir: ~`('@{string}' === 'right') ? 'left':'right'`;
  
  .triangle-base();

  border-@{string1}: @size solid @color;
  border-@{dir}: @size solid transparent;
}